{% extends "base.html" %}

{% block title %}Adicionar pagamento{% endblock %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/add-pay.css') }}">
{% endblock %}


{% block content %}
<div class="container">

  <div class="header">Carteira Móvel</div>

  <form action="/add-pay" method="post">
  <div class="form">


    <!-- TYPE -->
    <div class="field">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, msg in messages %}
          <div class="alert {{category}}" style="color: red; margin: auto;display: flex; justify-content: center;">{{msg}}</div>
        {% endfor %}
      {% endwith %}
      <label>Tipo de carteira</label>
      <select name="operadora" required>
        <option value="">Seleciona carteira</option>
        <option value="eMola">eMola</option>
        <option value="Mpesa">Mpesa</option>
        <option value="mKesh">mKesh</option>
      </select>
    </div>

    <!-- CONTACT -->
    <div class="field">
      <label>Contacto da carteira</label>
      <input name="telefone" type="tel" placeholder="Ex: 84XXXXXXX" maxlength="9" required>
    </div>

    <!-- PIN -->
    <div class="field">
      <label>PIN de acesso</label>
      <input class="pin" name="pin" type="password" maxlength="4" placeholder="••••" required>
    </div>

    <!-- INFO -->
    <div class="info">
      Use o seu PIN de acesso para confirmar que e o dono da conta.
    </div>

  </div>

  <button class="btn" type="submit">Guardar Carteira</button>

</div>
</form>



<!-- FLOATING -->
<a
href="/mensagens"
class="fixed bottom-24 right-5 z-50 group"
>

    <div class="w-16 h-16 rounded-full bg-gradient-to-br from-blue-500 to-blue-700 shadow-xl flex items-center justify-center transition duration-300 hover:scale-110 active:scale-95">

        <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-8 h-8 text-white"
        >
            <path fill-rule="evenodd" d="M4.804 21.644A6.707 6.707 0 0 0 6 21.75a6.721 6.721 0 0 0 3.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 0 1-.814 1.686.75.75 0 0 0 .44 1.223ZM8.25 10.875a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25ZM10.875 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd" />
        </svg>

    </div>

</a>

{% endblock %}




