

{% extends "base.html" %}

{% block title %}Minha loja{% endblock %}

{% block content %}

<form
action="/del-prod"
method="post" class="overflow-auto bg-slate-50 p-4">

    <!-- HEADER -->
    <div class="w-full md:w-[80%] lg:w-[70%] mx-auto mb-6 flex items-center justify-between">

        <div>

            <h1 class="text-3xl font-bold text-slate-900">
                Minha Loja / Stock
            </h1>

            <p class="text-slate-500 mt-1">
                Gerencie os produtos disponíveis na sua prateleira
            </p>

        </div>

        <!-- BOTÃO -->
        <a
        onclick="copyLink()"
        class="bg-blue-600 hover:bg-blue-700 text-white px-5 py-3 rounded-2xl font-semibold shadow-lg transition duration-200"
        >
           Partilhar loja
        </a>

    </div>

    <!-- GRID -->
    {% with error = get_flashed_messages()%}
    {% if error%}
        <p class="text-red-400">{{error[0]}}</p>
    {%endif%}
    {%endwith%}
    <main class="w-full md:w-[80%] lg:w-[70%] mx-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">

        {% for p in products %}

        <!-- CARD -->
        <div class="relative bg-white border border-slate-200 rounded-3xl overflow-hidden shadow-sm hover:shadow-xl transition duration-300 flex flex-col">

                <button class="absolute top-1 left-1 rounded-full bg-blue-100 p-1 text-sm text-gray-600 font-bold px-2 flex items-center justify-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>

                    15.334</button>

            <!-- IMAGEM -->
            <div class="h-48 overflow-hidden">

                <img
                src="/{{p.images[0].url}}"
                class="w-full h-full object-cover hover:scale-105 transition duration-300"
                >

            </div>

            <!-- INFO -->
            <div class="p-4 flex flex-col gap-2 flex-1">

                <span class="text-slate-900 font-bold text-lg">
                    {{p.tituto}}
                </span>

                <span class="text-slate-500 text-sm">
                    {{p.categoria}}
                </span>

                <span class="text-blue-600 text-xl font-bold">
                    MZN {{p.preco}}
                </span>
                <input class="hidden" name="product_id" value={{p.id}}>

                <!-- STATUS -->
                <div class="mt-1">

                    <span class="bg-green-100 text-green-700 text-sm px-3 py-1 rounded-full font-semibold">
                        {%if p.status == 'ativo'%}Disponivel{%else%}Indisponivel{%endif%}
                    </span>

                </div>

                <!-- BOTÕES -->
                <div class="mt-4 flex flex-col gap-2">



                    <!-- ELIMINAR -->
                    <button
                    type="button"
                    onclick="window.location.href='/p/{{p.id}}'"
                    class="bg-blue-700 hover:bg-blue-600 text-white rounded-xl p-3 font-semibold transition duration-200"
                    >
                        Ver
                    </button>

                </div>

            </div>

        </div>

        {% endfor %}

    </main>

<!-- MODAL -->
<div
id="deleteModal"
class="hidden fixed inset-0 bg-black/40 backdrop-blur-sm z-50 items-center justify-center p-4"
>

    <!-- BOX -->
    <div class="bg-white rounded-3xl shadow-2xl w-full max-w-md p-6 flex flex-col gap-5 animate-fadeIn">

        <!-- ICON -->
        <div class="w-16 h-16 rounded-full bg-red-100 flex items-center justify-center mx-auto">

            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 text-red-600"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673A2.25 2.25 0 0 1 15.916 21H8.084a2.25 2.25 0 0 1-2.245-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0V4.5c0-.621-.504-1.125-1.125-1.125h-3.75C10.254 3.375 9.75 3.879 9.75 4.5v1.29"
                />
            </svg>

        </div>

        <!-- TEXTO -->
        <div class="text-center">

            <h2 class="text-2xl font-bold text-slate-900">
                Eliminar produto
            </h2>

            <p class="text-slate-500 mt-2">
                Insira o seu PIN de acesso para confirmar a eliminação do produto.
            </p>

        </div>

        <!-- INPUT -->
        <div class="flex flex-col gap-2">


            <label class="text-slate-700 font-semibold">
                PIN de acesso
            </label>

            <input
            name="pin"
            type="password"
            maxlength="6"
            placeholder="••••••"
            class="border border-slate-200 rounded-2xl p-4 text-center text-2xl tracking-[10px] outline-none focus:ring-2 focus:ring-red-500"
            >

        </div>

        <!-- BOTÕES -->
        <div class="flex gap-3">

            <!-- CANCELAR -->
            <button
            type="button"
            onclick="closeDeleteModal()"
            class="flex-1 bg-slate-100 hover:bg-slate-200 text-slate-700 rounded-2xl p-4 font-semibold transition duration-200"
            >
                Cancelar
            </button>

            <!-- CONFIRMAR -->
            <button
            type="submit"
            class="flex-1 bg-red-500 hover:bg-red-600 text-white rounded-2xl p-4 font-semibold transition duration-200"
            >
                Confirmar
            </button>

        </div>

    </div>

</div>
</form>



<!-- SCRIPT -->
<script>

async function copyLink() {

    // copiar link
    await navigator.clipboard.writeText(window.location.href);

    alert("Link copiado!");
}
  
    function openDeleteModal() {

        const modal = document.getElementById('deleteModal');

        modal.classList.remove('hidden');
        modal.classList.add('flex');

    }

    function closeDeleteModal() {

        const modal = document.getElementById('deleteModal');

        modal.classList.remove('flex');
        modal.classList.add('hidden');

    }

</script>

<a
href="/mensagens"
class="fixed bottom-24 right-5 z-50 group"
>



    <!-- BOTÃO -->
    <div class="w-16 h-16 rounded-full bg-gradient-to-br from-blue-500 to-blue-700 shadow-xl flex items-center justify-center transition duration-300 hover:scale-110 active:scale-95">

        <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-8 h-8 text-white"
        >
            <path fill-rule="evenodd" d="M4.804 21.644A6.707 6.707 0 0 0 6 21.75a6.721 6.721 0 0 0 3.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 0 1-.814 1.686.75.75 0 0 0 .44 1.223ZM8.25 10.875a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25ZM10.875 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd" />
        </svg>

    </div>

</a>
{% endblock %}

