{% extends "base.html" %}


{% block title %}Transacoes{% endblock %}
{% block content %}

<div class="overflow-auto bg-slate-50 p-4">

    <!-- HEADER -->
    <div class="w-full md:w-[70%] lg:w-[55%] mx-auto mb-6">

        <h1 class="text-3xl font-bold text-slate-900">
            Transações
        </h1>

        <p class="text-slate-500 mt-1">
            Acompanhe suas compras e vendas
        </p>

    </div>

    <!-- CONTAINER -->

    <div class="w-full md:w-[70%] lg:w-[55%] mx-auto flex flex-col gap-6">



        <!-- COMPRAS SUCEDIDAS -->
        <section class="bg-white border border-slate-200 rounded-3xl p-5 shadow-sm">

            <div class="flex items-center gap-3 mb-5">

                <div class="w-12 h-12 rounded-xl bg-green-100 flex items-center justify-center">

                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-green-600"
                    >
                        <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m4.5 12.75 6 6 9-13.5"
                        />
                    </svg>

                </div>

                <div>

                    <h2 class="text-xl font-bold text-slate-900">
                        Compras sucedidas
                    </h2>

                    <span class="text-slate-500 text-sm">
                        Produtos recebidos com sucesso
                    </span>

                </div>

            </div>

            <!-- ITEM -->
            {% for t in transactions %}
            {% if t.status == 'confirmada' and session.get('user_id') == t.buyer_id %}
            <div class="border border-slate-200 rounded-2xl p-4 flex items-center gap-4">

                {% set img = t.product.images | selectattr('url') | list | first %}
                <img
                src="{% if img %}{{ img.url }}{% else %}{{ url_for('static', filename='img/default.jpg') }}{% endif %}"
                class="w-20 h-20 rounded-xl object-cover"
                >

                <div class="flex-1">

                    <h3 class="font-bold text-slate-800">
                        {{t.product.titulo}}
                    </h3>

                    <span class="text-slate-500 text-sm">
                        Comprado em 05 Maio 2026
                    </span>

                    <div class="mt-2">
                        <span class="bg-green-100 text-green-700 text-sm px-3 py-1 rounded-full font-semibold">
                            Recebido
                        </span>
                    </div>

                </div>

            </div>
            {% endif %}
            {% endfor %}


        </section>


        <!-- VENDAS SUCEDIDAS -->
        <section class="bg-white border border-slate-200 rounded-3xl p-5 shadow-sm">

            <div class="flex items-center gap-3 mb-5">

                <div class="w-12 h-12 rounded-xl bg-blue-100 flex items-center justify-center">

                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-blue-600"
                    >
                        <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.25 3h1.386a.75.75 0 0 1 .728.568l.893 3.572m0 0L6.75 13.5h10.5l1.857-6.36a.75.75 0 0 0-.728-.96H5.257Z"
                        />
                    </svg>

                </div>

                <div>

                    <h2 class="text-xl font-bold text-slate-900">
                        Vendas sucedidas
                    </h2>

                    <span class="text-slate-500 text-sm">
                        Produtos vendidos com sucesso
                    </span>

                </div>

            </div>

            <!-- ITEM -->
            {% for t in transactions %}
            {% if t.status == 'confirmada' and session.get('user_id') == t.seller_id %}
            <div class="border border-slate-200 rounded-2xl p-4 flex items-center gap-4">

                {% set img = t.product.images | selectattr('url') | list | first %}
                <img
                src="{% if img %}{{ img.url }}{% else %}{{ url_for('static', filename='img/default.jpg') }}{% endif %}"
                class="w-20 h-20 rounded-xl object-cover"
                >

                <div class="flex-1">

                    <h3 class="font-bold text-slate-800">
                        {{t.product.titulo}}
                    </h3>

                    <span class="text-slate-500 text-sm">
                        Vendido em 02 Maio 2026
                    </span>

                    <div class="mt-2">
                        <span class="bg-blue-100 text-blue-700 text-sm px-3 py-1 rounded-full font-semibold">
                            Entregue
                        </span>
                    </div>

                </div>

            </div>
            {% endif %}
            {% endfor %}

        </section>

        <!-- PENDENTES -->
        <!-- PENDENTES -->
<section class="bg-white border border-slate-200 rounded-3xl p-5 shadow-sm">

    <div class="flex items-center gap-3 mb-5">

        <div class="w-12 h-12 rounded-xl bg-yellow-100 flex items-center justify-center">

            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-yellow-600"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v6h4.5"
                />
            </svg>

        </div>

        <div>

            <h2 class="text-xl font-bold text-slate-900">
                Pendentes
            </h2>

            <span class="text-slate-500 text-sm">
                Compras e vendas aguardando confirmação
            </span>

        </div>

    </div>

    <div  class="flex flex-col gap-5">

        <!-- PENDENTE DE ENTRADA -->
        {% for t in transactions %}
        {% if t.status == 'pendente' and session.get('user_id') == t.buyer_id %}
        <div class="border border-slate-200 rounded-2xl p-4 flex flex-col gap-4">

            <div class="flex items-center gap-4">

                {% set img = t.product.images | selectattr('url') | list | first %}

                <img
                src="{% if img %}{{ img.url }}{% else %}{{ url_for('static', filename='img/default.jpg') }}{% endif %}"
                class="w-20 h-20 rounded-xl object-cover"
                >

                <div class="flex-1">

                    <h3 class="font-bold text-slate-800">
                        {{t.product.titulo}}
                    </h3>

                    <span class="text-slate-500 text-sm block">
                        Compra pendente
                    </span>

                    <span class="text-yellow-600 text-sm font-semibold">
                        Aguardando recepção
                    </span>

                </div>

            </div>

            <!-- BOTÕES -->
            <div class="flex gap-3">

                <!-- CONFIRMAR -->
                <button
                onclick="openConfirmModal({{t.product.id}})"
                class="flex-1 bg-green-500 hover:bg-green-600 text-white rounded-xl p-3 font-semibold transition duration-200"
                >
                    Confirmar recepção
                </button>

                <!-- REPORTAR -->
                <button
                class="flex-1 bg-red-500 hover:bg-red-600 text-white rounded-xl p-3 font-semibold transition duration-200"
                >
                    Reportar
                </button>

            </div>

        </div>

<!-- MODAL -->
<form
id="confirmModal-{{t.product.id}}"
method="post"
action="/confirm/recebido"

class="hidden fixed inset-0 bg-black/40 backdrop-blur-sm z-50 items-center justify-center p-4"
>

    <!-- BOX -->
    <div class="bg-white rounded-3xl shadow-2xl w-full max-w-md p-6 flex flex-col gap-5 animate-fadeIn">

        <!-- ICON -->
        <div class="w-16 h-16 rounded-full bg-green-100 flex items-center justify-center mx-auto">

            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 text-red-600"
            >
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673A2.25 2.25 0 0 1 15.916 21H8.084a2.25 2.25 0 0 1-2.245-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0V4.5c0-.621-.504-1.125-1.125-1.125h-3.75C10.254 3.375 9.75 3.879 9.75 4.5v1.29"
                />
            </svg>

        </div>

        <!-- TEXTO -->
        <div class="text-center">

            <h2 class="text-2xl font-bold text-slate-900">
                Confirmar que recebeu
            </h2>

            <p class="text-slate-500 mt-2">
                Insira o seu PIN de acesso para confirmar a recepção do producto.
            </p>

        </div>

        <!-- INPUT -->
        <div class="flex flex-col gap-2">


            <label class="text-slate-700 font-semibold">
                PIN de acesso
            </label>

            <input
            name="pin"
            type="password"
            maxlength="6"
            placeholder="••••••"
            class="border border-slate-200 rounded-2xl p-4 text-center text-2xl tracking-[10px] outline-none focus:ring-2 focus:ring-red-500"
            >
            <input type="hidden" name="product_id" value="{{t.product.id}}" class="hidden">

        </div>

        <!-- BOTÕES -->
        <div class="flex gap-3">

            <!-- CANCELAR -->
            <button
            type="button"
            onclick="closeConfirmModal({{t.product.id}})"
            class="flex-1 bg-slate-100 hover:bg-slate-200 text-slate-700 rounded-2xl p-4 font-semibold transition duration-200"
            >
                Cancelar
            </button>

            <!-- CONFIRMAR -->
            <button
            type="submit"
            class="flex-1 bg-green-500 hover:bg-red-600 text-white rounded-2xl p-4 font-semibold transition duration-200"
            >
                Confirmar
            </button>

        </div>

    </div>

</form>

        
        {% endif %}
        {% endfor %}

        <!-- PENDENTE DE SAÍDA -->
        {% for t in transactions %}
        {% if t.status == 'pendente' and session.get('user_id') == t.seller_id %}
        <div class="border border-slate-200 rounded-2xl p-4 flex flex-col gap-4 bg-slate-50">

            <div class="flex items-center gap-4">

                {% set img = t.product.images | selectattr('url') | list | first %}

                <img
                src="{% if img %}{{ img.url }}{% else %}{{ url_for('static', filename='img/default.jpg') }}{% endif %}"
                class="w-20 h-20 rounded-xl object-cover"
                >

                <div class="flex-1">

                    <h3 class="font-bold text-slate-800">
                        {{t.product.titulo}}
                    </h3>

                    <span class="text-slate-500 text-sm block">
                        Venda pendente
                    </span>

                    <span class="text-blue-600 text-sm font-semibold">
                        Aguardando confirmação do comprador
                    </span>

                </div>

            </div>

            <!-- ESTADO -->
            <div class="bg-blue-100 text-blue-700 rounded-xl p-3 text-sm font-semibold text-center">

                Produto entregue. À espera da confirmação do comprador.

            </div>

            <!-- BOTÃO -->
            <button
            class="bg-red-500 hover:bg-red-600 text-white rounded-xl p-3 font-semibold transition duration-200"
            >
                Reportar problema
            </button>

        </div>
        {% endif %}
        {% endfor %}

    </div>

</section>

    </div>

</div>


<a
href="/mensagens"
class="fixed bottom-24 right-5 z-50 group"
>

    <!-- BOTÃO -->
    <div class="w-16 h-16 rounded-full bg-gradient-to-br from-blue-500 to-blue-700 shadow-xl flex items-center justify-center transition duration-300 hover:scale-110 active:scale-95">

        <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-8 h-8 text-white"
        >
            <path fill-rule="evenodd" d="M4.804 21.644A6.707 6.707 0 0 0 6 21.75a6.721 6.721 0 0 0 3.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 0 1-.814 1.686.75.75 0 0 0 .44 1.223ZM8.25 10.875a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25ZM10.875 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd" />
        </svg>

    </div>

</a>









<!-- SCRIPT -->
<script>

    function openConfirmModal(id) {

        const modal = document.getElementById('confirmModal-'+id);

        modal.classList.remove('hidden');
        modal.classList.add('flex');

    }

    function closeConfirmModal(id) {

        const modal = document.getElementById('confirmModal-'+id);
        console.log(modal)

        modal.classList.remove('flex');
        modal.classList.add('hidden');

    }



document.addEventListener('DOMContentLoaded', () => {

    const home = document.getElementById('home');
    const anunciar = document.getElementById('anunciar');
    const transacoes= document.getElementById('transacoes');
    const perfil = document.getElementById('perfil');

    home.classList.remove('text-blue-500');
    anunciar.classList.remove('text-blue-500');
    perfil.classList.remove('text-blue-500');


    transacoes.classList.add('text-blue-500');

});

</script>
{% endblock %}
